<a href="https://colab.research.google.com/github/shivam-purve/Machine-learning/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python is main programming language used in ML

In [12]:
print(8+3)

11

Print function

In [9]:
print('Machine Learning')

Machine Learning

In [11]:
print('Machine Learning' + ' Projects')

Machine Learning Projects

#basics Datatypes

1.   integer-int
2.   decimal-float
3.  string-str

In [13]:
type(8)

int

In [14]:
type('Shivam')

str

In [15]:
type(6.4)

float

#Constants or Variables

In [1]:
superhero = "Ironman"
print(superhero)

Ironman

In [2]:
marvel_superhero = "Ironman"
print(marvel_superhero)

Ironman

In [3]:
marvel_superhero = "Thor"
print(marvel_superhero)

Thor

In [4]:
hero1, hero2, hero3 = "Ironman","Thor","Captain America"
print(hero1)
print(hero2)
print(hero3)

Ironman
Thor
Captain America

In [5]:
x = y = z = 25
print(x)
print(y)
print(z)

25
25
25

Input Function

In [6]:
number_1 = input("enter the first number: ")
number_2 = input("enter the second number: ")
print("First Number: ", number_1)
print("Second Number: ", number_2)
sum = number_1 + number_2
print("sum of numbers: ", sum)

enter the first number: 23
enter the second number: 45
First Number:  23
Second Number:  45
sum of numbers:  2345

In [7]:
num_1 = int(input("enter first number: "))
num_2 = int(input("enter second number: "))
print("First Number: ", num_1)
print("Second Number: ", num_2)
sum = num_1 + num_2
print("sum of numbers: ", sum)

enter first number: 23
enter second number: 45
First Number:  23
Second Number:  45
sum of numbers:  68

In [11]:
#changing data typein python

num = 5
print(type(num))
print(float(num))
print(type(num))

<class 'int'>
5.0
<class 'int'>

#Basic data Types

1.integer
2.Floating point
3.complex
4.Boolean
5.String

In [12]:
#integer

a = 8
print(a)
type(a)

8

int

In [13]:
#floating point

b = 8.5
print(b)
type(b)

8.5

float

In [14]:
#complex number

c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

#conversion of data types

In [16]:
# int to float
a = 10
print(a)
type(a)
y = float(a)
print(y)
type(y)

10
10.0

float

In [19]:
#float to int

x = 12.6
print(x)
y = int(x)
print(y)
type(y)

12.6
12

int

In [22]:
#boolean

a = True
print(a)

b = False
print(b)
type(b)

True
False

bool

In [24]:
#uses of boolean

a = 7 < 3
print(a)
type(a)

False

bool

In [25]:
# string
print("Machine Learning")  #using double quote
print('Machine Learning')  #using single quote

Machine Learning
Machine Learning

In [26]:
my_string = 'Machine Learning'
print(my_string)
type(my_string)

Machine Learning

str

In [27]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [28]:
#slicing
my_str = "Programming"
print(my_str[1:5])

rogr

In [29]:
#slicing with steps

my_str = "programming"
print(my_str[0:10:2])

pormi

In [30]:
#string concatenation

word1 = 'Machine'
word2 = ' Learning'
print(word1 + word2)

Machine Learning

# objects in python
1.immutable object:-
(i) int
(ii)Float
(iii) bool
(iv) string
(v) Tuple

2.mutable objects

(i)list
(ii)set
(iii)Dictionary

In [31]:
# list should be included in square brackets

my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [32]:
# list can have multiple data types
my_list = [2,3,4.8,'English',True]
print(my_list)

[2, 3, 4.8, 'English', True]

In [35]:
# list are mutable
#adding elememnts

my_list = [2,3,4.8,'English',True]
my_list.append(6)
my_list.append("Shivam")
print(my_list)
print(my_list[0:3]) #will print from index 0 to 2

[2, 3, 4.8, 'English', True, 6, 'Shivam']
[2, 3, 4.8]

In [39]:
#list allows duplicate values

list = [1,2,3,4,2,1,2]
print(list)
print(len(list))


#iniatiating empty list

list_1 = []
print(list_1)

list_1.append(2)
print(list_1)

[1, 2, 3, 4, 2, 1, 2]
7
[]
[2]

In [40]:
list_2 = [2,3,4,6.8,'Shivu']
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 4, 6.8, 'Shivu']
[2, 3, 6.8, 'Shivu']

In [41]:
#join to lists

list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# TUPLE

In [43]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [44]:
#tuple allows multiple data types

tuple_2 = (2,3,4,5,'Machine Learning',False)
print(tuple_2)

(2, 3, 4, 5, 'Machine Learning', False)

In [55]:
#convert list to tuple

my_list = [3,4,5,6,3,4]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6, 3, 4]
(3, 4, 5, 6, 3, 4)

In [46]:
print(my_tuple[0:3])

(3, 4, 5)

#tuples are immutable

In [48]:
my_tuple.append(6) #will throw error as tupple values cant change

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
print(len(my_tuple))

4

# SET -should be inclsed in curley bracket

In [50]:
my_set = {1,2,3,4}
print(my_set)
type(my_set)

{1, 2, 3, 4}

set

In [51]:
print(my_set[0:3])

TypeError: 'set' object is not subscriptable

In [52]:
#convert list to set
list_5 = [1,3,4,5]
print(list_5)
x = set(list_5)
print(x)

[1, 3, 4, 5]
{1, 3, 4, 5}

In [53]:
# set doent allows duplicate element

set_1 = {2,3,4,5,1,2,3}
print(set_1)
print(len(set_1))

{1, 2, 3, 4, 5}
5

In [54]:
#dictionary- key and value pair

my_dict = {"name":"Shivam", "age":20, "country":"India"}
print(my_dict)
type(my_dict)

{'name': 'Shivam', 'age': 20, 'country': 'India'}

dict

In [56]:
print(my_dict['age'])
print(my_dict['name'])
print(my_dict['country'])

20
Shivam
India

In [4]:
#dictionary doesnt allow duplicate eleemnt
my_dict = {"name":"Shivam", "age":20, "country":"India", "name":"Shivu","name":"shivam","age":19}
print(my_dict)

{'name': 'shivam', 'age': 19, 'country': 'India'}

#operators in python
1.Arithmetic
2.logical
3.assignment
4.identity
5.membership
6.comparison

In [4]:
#arithmetic operators

num_1 = 20
num_2 = 10

#addition

sum = num_1 + num_2
print(sum)

#difference
diff = num_1-num_2
print(diff)

#Multiplication
prod = num_1*num_2
print(prod)

#division
div = num_1/num_2
print(div)

#exponent

exp = num_1**num_2  #20^10
print(exp)

#modulus operator

mod = num_1%num_2
print(mod)

30
10
200
2.0
10240000000000
0

In [7]:
#Assignment operators

a = 5
print(a)
a  += 5  # a = a + 5
print(a)

b = 3
b -= 1
print(b)

c = 5
c *= 2;
print(c)

d = 6
d/= 2
print(d)

e = 15
e %= 4
print(e)

f = 3
f **= 2
print(f)

5
10
2
10
3.0
3
9

In [8]:
#comparison operators

a = 5
b = 2

print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
False
True
True
False

In [6]:
# Logical operators 1.Logical or 2.Logical Not 3.Logical and

a = 10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>8 and a>5))

False
True
False

In [9]:
# identity operator

x  = 5
y = 5
print(x is y)

x = 5
y = 4
print(x is not y)

True
True

In [10]:
# Membership operator
# 1.in
#2.not in

a = 5
b = 10

c = [1,2,3,4,5]
print(a in c)
print(b in c)
print(b not in c)

True
False
True

# if-else statement

In [11]:
a = 30
b = 50
if(a>b):
    print("a is the greatest")

else:
    print("b is the greatest")

b is the greatest

In [12]:
a = int(input("enter the first number: "))
b = int(input("enter the second number: "))
if(a>b):
    print("first number is greater")
elif(b>a):
    print("second number is greater")

enter the first number: 23
enter the second number: 45
second number is greater

# else if

In [13]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
c= int(input("enter third number: "))
if(b<a>c):
    print("first number is greater")
elif(a<b>c):
  print("second numberis greater")
else:
      print("third number is greater")

enter first number: 34
enter second number: 56
enter third number: 23
second numberis greater

# nested if-else

In [14]:
a = int(input("enter first number: "))
b = int(input("enter second number"))
c = int(input("enter third number: "))

if(a>b):
  if(a>c):
    print("first number is greater")
  else:
    print("third number is greater")
else:
  if(b>c):
    print("second number is greater")
  else:
    print("third number is greater")

enter first number: 45
enter second number67
enter third number: 145
third number is greater

# loops -> for loops or while loops

In [15]:
laptop = int(input("what is price for laptop: "))
# what if yu want to ask above q to 5 person
for i in range(5):
  laptop = int(input("what is price for laptop: "))

what is price for laptop: 200000
what is price for laptop: 2
what is price for laptop: 2
what is price for laptop: 3
what is price for laptop: 4
what is price for laptop: 5

In [18]:
numbers = [50,100,150,200]
print(numbers)
 # without loop

for i in numbers:
   print(i)

[50, 100, 150, 200]
50
100
150
200

# While loop

In [20]:
i = 0;
while(i<10):
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [1]:
i = 1

while(i<5):
  print(i)
  i += 1

1
2
3
4

In [4]:
list_1 = [20,40,20,1]
for i in list_1:
  print(i)

20
40
20
1

In [5]:
name = input("enter your name: ")
for i in name:
  print(i)

enter your name: shivam
s
h
i
v
a
m

# Functions :- A block of code can be used in a program

In [10]:
# Factorial of a number

number = int(input("enter a number: "))
factorial = 1
if(number == 0):
  print("factorial of 0 is 1")
else:
  for i in range(1,number+1):
    factorial = factorial * i
  print("factorial of",number,"is",factorial)

enter a number: 6
factorial of 6 is 720

# factorial function

In [16]:
def Factorial_val(num):
  factorial = 1
  if(num == 0):
     return factorial
  else:
      for i in range(1,num+1):
         factorial = factorial * i
      return factorial

In [17]:
print(Factorial_val(5))

120